.contenedor_signup {
  background-image: url(https://previews.123rf.com/images/nopsang/nopsang1801/nopsang180100048/94485783-m%C3%A1rmol-blanco-con-textura-de-fondo-m%C3%A1rmol-natural-para-el-dise%C3%B1o-.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
